<md-toolbar>
    <div class="instructions" layout="column" layout-fill>
        <div md-sticky layout="row">
            <div flex class="navbar hide-xs" layout="row" layout-align="space-around left">
                <h5>
                    <a href="../#/about">ABOUT</a>
                </h5>
                <h5>
                    <a href="../#/faq">FAQ</a>
                </h5>
                <h5>
                    <a href="../#/contact">CONTACT</a>
                </h5>
            </div>
            <div flex class="navbar hide-xs" layout="row" layout-align="space-around end">
                <h5>
                    <a href="../#/contact">NEWSLETTER</a>
                </h5>
            </div>
        </div>
    </div>
    </div>
</md-toolbar>