<footer>
        <md-toolbar>
                <div class="instructions" layout="column" layout-fill>
                    <div md-sticky layout="row">
                            <div flex class="navbar hide-xs" layout="row" layout-align="space-around left">
                                <h5>ABOUT</h5>
                                <h5>FAQ</h5>
                                <h5>CONTACT</h5>
                            </div>
                            <div flex class="navbar hide-xs" layout="row" layout-align="space-around end">
                                <h5>NEWSLETTER</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </md-toolbar>
</footer>