<md-content>
    <div class="instructions">
        <div>

            <h1 class="lead show-xs" layout="row" layout-align="center">HUSTLE</h1>
            <div layout="row">
                <div flex class="navbar hide-xs" layout="row" layout-align="space-around center">
                    <h3>HOME</h3>
                    <h3>ABOUT</h3>
                    <h3>COMMUNITY</h3>
                </div>
                <div flex class="navbar hide-xs" layout="row" layout-align="space-around center">
                    <h3>MISSION</h3>
                    <h3>HOW IT WORKS</h3>
                    <h3>GET INVOLVED</h3>
                </div>
            </div>
        </div>
    </div>
    </div>
</md-content>

<!-- layout-align="center center" -->