<header>
    <md-toolbar>
        <div class="md-toolbar navbar instructions" layout="column">
            <div md-sticky>
                <div layout="row">
                    <div flex class="navbar hide-xs" layout="row" layout-align="space-around center">
                        <h3 class="md-subhead"><a href="../#/home">HOME</a></h3>
                        <h3 class="md-subhead"><a href="../#/home#about">ABOUT</a></h3>
                        <h3 class="md-subhead"><a href="../#/home#community">COMMUNITY</a></h3>
                    </div>
                    <div flex class="navbar hide-xs" layout="row" layout-align="space-around center">
                            <h3 class="md-subhead"><a href="../#/home#mission">MISSION</a></h3>
                            <h3 class="md-subhead"><a href="../#/home#works">HOW IT WORKS</a></h3>
                            <h3 class="md-subhead"><a href="../#/home#involved">GET INVOLVED</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </md-toolbar>
</header>