<header>
  <div ng-controller="NavBarController as nc">
    <md-toolbar>
      <div class="instructions" layout="column" layout-fill>
        <div md-sticky>
          <h1 class="lead show-xs" layout="row" layout-align="center">HUSTLE</h1>
          <div layout="row">
            <div flex class="navbar hide-xs" layout="row" layout-align="start">
              <h3 class="md-subhead instructions">
                <a href="#/collaborator-search">FIND COLLABORATORS</a>
              </h3>
            </div>
            <div flex class="navbar hide-xs" layout="row" layout-align="center">
              <h3 class="md-subhead instructions">
                <a href="#/projects">FIND PROJECTS</a>
              </h3>
            </div>
            <div flex class="navbar hide-xs" layout="row" layout-align="end">
              <md-menu>
                <md-button ng-mouseenter="nc.openMenu($mdMenu, $event)">
                  <img ng-src="../images/profile-default.jpg" style="max-width:20px;max-height:20px; " aria-label="Open Menu"></img>
                </md-button>
                <md-menu-content class="instructions" width="4">
                  <md-menu-item>
                    <md-subheader class="instructions">
                      <a href="#/user">MY PROFILE</a>
                    </md-subheader>
                  </md-menu-item>
                  <md-menu-item>
                    <md-subheader class="instructions">
                      <a href="#/myproject">MY PROJECTS</a>
                    </md-subheader>
                  </md-menu-item>
                  <md-menu-item>
                    <md-subheader class="instructions">
                      <a href="#/logout">LOGOUT</a>
                    </md-subheader>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
        </div>
      </div>
    </md-toolbar>
  </div>
</header>