<div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#/collaborator-search">PEOPLE</a></li>
      <li><a href="#/projects">PROJECTS</a></li>
      <li><a href="#/myproject">MY PROJECT</a></li>
      <li><a href="#/user">PROFILE</a></li>
      <li><a href="#/info">Info Page</a></li>
    </ul>
  </div>
</div>

<!-- <header>
    <md-toolbar>
        <div class="navbar instructions" layout="column" layout-fill>
            <div md-sticky>
                <h1 class="lead show-xs" layout="row" layout-align="center">HUSTLE</h1>
                <div layout="row">
                    <div flex class="navbar hide-xs" layout="row" layout-align="space-around center">
                    </div>
                    <div flex class="navbar hide-xs container" layout="row" layout-align="space-around center">
                        <ul>
                            <li><a href="#/collaborator-search">PEOPLE</a></li>
                            <li><a href="#/projects">PROJECTS</a></li>
                            <li><a href="#/myproject">MY PROJECT</a></li>
                            <li><a href="#/user">PROFILE</a></li>
                            <li><a href="#/info">Info Page</a></li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </md-toolbar>
</header> -->