<div ng-include="'views/partials/nav.html'"></div>
<div layout="row" layout-sm="column">
    <div flex="30" flex-sm>
        Search Bar
    </div>
    <div flex layout="column">
        <div flex>
            <h1>People</h1>
        </div>
        <div flex layout="row" layout-align="center">
            <div flex="20">
                Picture
            </div>
            <div flex layout="column" layout-align="center">
                <div flex>
                    <span>Name</span>
                </div>
                <div flex>
                    <span>Skills</span>
                </div>
            </div>
            <div flex="25" layout-align="center">
                <button>Message</button>
            </div>
        </div>
    </div>
</div>
<!-- footer here -->
<div ng-include="'views/partials/footer.html'"></div>