<div>

    <div layout="column" id="home1">

        <div>

            <div layout="row" layout-align="center" id="hustleTitle">HUSTLE</div>
            <div layout="row" layout-align="center" >Where people and ideas meet.</div>
            <div layout="row" layout-align="center" >Get started.</div>

        </div>
    </div>
</div>



        </div>
      </div>
      

      <!-- For Albums -->

      

    </div>
  </div>
  
  <div id="mission-section" class="index-section no-main-image page" data-url-id="mission" data-collection-id="5828f96ce58c628c3ca52ef9"
    data-edit-main-image="Background" 
  >
    <div class="index-section-wrapper">

      <!-- For Pages -->

      

        
          
        

        <div class="content page-content" id="mission-page" data-url-id="mission">
          <div class="content-inner has-content">
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1479248171983" id="page-5828f96ce58c628c3ca52ef9"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="2.1739130434782608" data-block-type="21" id="block-yui_3_17_2_11_1479168825256_14837"><div class="sqs-block-content">&nbsp;</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-f51f808fa3878aff9137"><div class="sqs-block-content"><h2 class="text-align-center">Our mission is to facilitate successful collaboration in the pursuit launching more creative and innovative projects.&nbsp;</h2></div></div><div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="2.1739130434782608" data-block-type="21" id="block-yui_3_17_2_11_1479168825256_15361"><div class="sqs-block-content">&nbsp;</div></div></div></div></div>
          </div>
        </div>
      

      <!-- For Galleries -->

      

      <!-- For Albums -->

      

    </div>
  </div>
  
  <div id="how-it-works-section" class="index-section page" data-url-id="how-it-works" data-collection-id="5828fc82e4fcb5051941867f"
    data-edit-main-image="Background" 
  >
    <div class="index-section-wrapper has-main-media has-main-image">

      <!-- For Pages -->

      

        
          
            <div class="index-section-image content-fill">
              <img data-src="https://static1.squarespace.com/static/5828e251197aea524ab2db25/t/582a5a1237c581a12d7a8ad6/1479170590758/photo-1476169785137-3bfe32e30ee1.jpeg" data-image="https://static1.squarespace.com/static/5828e251197aea524ab2db25/t/582a5a1237c581a12d7a8ad6/1479170590758/photo-1476169785137-3bfe32e30ee1.jpeg" data-image-dimensions="2500x1667" data-image-focal-point="0.5,0.5" alt="photo-1476169785137-3bfe32e30ee1.jpeg"  />
            </div>
            <div class="index-image-overlay"></div>
          
        

        <div class="content page-content has-main-media has-main-image tmpl-loading" id="how-it-works-page" data-url-id="how-it-works">
          <div class="content-inner has-content">
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1479170660472" id="page-5828fc82e4fcb5051941867f"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-f51f808fa3878aff9137"><div class="sqs-block-content"><h1>How it works</h1><h2>1) You tell us what you're looking for</h2><h2>2) We find you matches</h2><h2>3) We send an introduction</h2><h2>4) You make something amazing!</h2></div></div></div></div></div>
          </div>
        </div>
      

      <!-- For Galleries -->

      

      <!-- For Albums -->

      

    </div>
  </div>
  
  <div id="newsletter-section" class="index-section no-main-image page" data-url-id="newsletter" data-collection-id="582911dfd1758e699d959dd0"
    data-edit-main-image="Background" 
  >
    <div class="index-section-wrapper">

      <!-- For Pages -->

      

        
          
        

        <div class="content page-content" id="newsletter-page" data-url-id="newsletter">
          <div class="content-inner has-content">
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1488129742846" id="page-582911dfd1758e699d959dd0"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_50_1479080007456_16884"><div class="sqs-block-content"><h2>Get involved</h2><p dir="ltr">Join the Hustle Newsletter</p></div></div><div class="sqs-block form-block sqs-block-form" data-block-type="9" id="block-yui_3_17_2_50_1479080007456_10241"><div class="sqs-block-content">



<div class="form-wrapper" >

  

  <div class="form-inner-wrapper">

    <form autocomplete="on" action="https://elise-ogden-5llk.squarespace.com" method="POST" onsubmit="
      return (function(form) {
        Y.use('squarespace-form-submit', 'node', function(Y){
          (new Y.Squarespace.FormSubmit({
            formNode: Y.Node(form)
          })).submit('5829124bf5e2316b4167d372', '582911dfd1758e699d959dd0', 'page-582911dfd1758e699d959dd0');
        });
        return false;
      })(this)" data-form-id="5829124bf5e2316b4167d372">

      

        <div class="field-list clear">

        

            

            

            

            

            

            

            

            

            

            

            

            

            

            
              <fieldset id="name-yui_3_17_2_50_1479080007456_10246" class="form-item fields name required">
              <div class="title">Name <span class="required">*</span></div>
              <legend>Name</legend>
              
                <div class="field first-name">
                  <label class="caption"><input class="field-element field-control" name="fname"
                  x-autocompletetype="given-name" type="text"
                  spellcheck="false"
                  maxlength="30"
                  data-title="First" />
                  First Name</label>
                </div>
                <div class="field last-name">
                  <label class="caption"><input class="field-element field-control" name="lname"
                  x-autocompletetype="surname" type="text"
                  spellcheck="false" maxlength="30" data-title="Last" />
                  Last Name</label>
                </div>
              </fieldset>
            

            

            

            

            

            

        

            

            

            

            

            
              <div id="email-yui_3_17_2_50_1479080007456_10247" class="form-item field email required">
                <label class="title" for="email-yui_3_17_2_50_1479080007456_10247-field">Email Address <span class="required">*</span></label>
                
                <input class="field-element" name="email" x-autocompletetype="email" type="text" spellcheck="false" id="email-yui_3_17_2_50_1479080007456_10247-field" />
              </div>
            

            

            

            

            

            

            

            

            

            

            

            

            

            

            

        

            

            

            

            

            

            

            

            

            

            

            
              <div id="radio-yui_3_17_2_1_1479171058324_45747" class="form-item field radio required">
               <div class="title" for="radio-yui_3_17_2_1_1479171058324_45747-field">I am an... <span class="required">*</span></div>
               
                
                  <div class="option"><label><input type="radio" name="radio-yui_3_17_2_1_1479171058324_45747-field" value="Artist" /> Artist</label></div>
                
                  <div class="option"><label><input type="radio" name="radio-yui_3_17_2_1_1479171058324_45747-field" value="Entrepreneur" /> Entrepreneur</label></div>
                
                  <div class="option"><label><input type="radio" name="radio-yui_3_17_2_1_1479171058324_45747-field" value="Developer" /> Developer</label></div>
                
                  <div class="option"><label><input type="radio" name="radio-yui_3_17_2_1_1479171058324_45747-field" value="Business guru" /> Business guru</label></div>
                
                  <div class="option"><label><input type="radio" name="radio-yui_3_17_2_1_1479171058324_45747-field" value="Designer" /> Designer</label></div>
                
                  <div class="option"><label><input type="radio" name="radio-yui_3_17_2_1_1479171058324_45747-field" value="Other" /> Other</label></div>
                
              </div>
            

            

            

            

            

            

            

            

            

        

        </div>

      

      

      
      <div class="form-button-wrapper form-button-wrapper--align-left">
        <input class="button sqs-system-button sqs-editable-button" type="submit" value="Submit"/>
      </div>
      

      <div class="hidden form-submission-text">Thank you!</div>

      <div class="hidden form-submission-html" data-submission-html=""></div>
    </form>

    <div> <a href="/user/facebook">Login with Facebook</a></div>


  </div>

</div>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-f51f808fa3878aff9137"><div class="sqs-block-content"><p>* This site is currently in beta</p></div></div></div></div></div>
          </div>
        </div>
      

      <!-- For Galleries -->

      

      <!-- For Albums -->

      

    </div>
  </div>
          </div>
        </main>

        <div id="preFooter">
          <div class="pre-footer-inner with-custom">
  <div class="sqs-layout sqs-grid-12 columns-12 empty" data-layout-label="Pre-Footer Content" data-type="block-field" data-updated-on="1479086874584" id="preFooterBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div></div>
</div>

        </div>

        <footer id="footer" role="contentinfo">
          <div class="footer-inner">
            <div class="nav-wrapper back-to-top-nav"><nav><div class="back-to-top"><a href="#header">Back to Top</a></div></nav></div>
            


            
            <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1389963872562" id="footerBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-713fe491a2c303b33937"><div class="sqs-block-content"><p class="text-align-center">Powered by <a target="_blank" href="http://www.squarespace.com">Squarespace</a></p></div></div></div></div></div>
          </div>
        </footer>

        

      </div>
    </div>

    <script src="https://static1.squarespace.com/static/ta/52e968b5e4b04d2aa2a3bba3/1110/scripts/site-bundle.js" type="text/javascript"></script>

    <script type="text/javascript" data-sqs-type="imageloader-bootstraper">(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap({}, document); }})();</script><script>Squarespace.afterBodyLoad(Y);</script>






<div class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="" ng-app="MyApp">
    <p class="inset">
        Click on the button below to log-in or register.
    </p>

    <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
        <md-button class="md-primary md-raised" ng-click="hc.showLogin($event)">
            Hustle
        </md-button>
    </div>


</div>

</body>

</html>