<div layout="row" layout-align="center center">
    <h1>
        HUSTLE
    </h1>
</div>

<md-content layout-gt-sm="row" layout-padding layout-align="center center">
    <div>

        <form ng-submit="vm.setNewPassword(vm.user)">

            <!-- <md-input-container class="md-block">
                <label>Code</label>
                <input required ng-model="vm.user.code" type="text">
            </md-input-container> -->

            <md-input-container class="md-block">
                <label>New Password</label>
                <input required ng-model="vm.user.password" type="password" ng-change="vm.passwordVerification(vm.user)">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Confirm New Password</label>
                <input required ng-model="vm.user.password_confirm" type="password" ng-change="vm.passwordVerification(vm.user)">
            </md-input-container>

            <div>
                <md-button type="submit">Submit</md-button>
            </div>

        </form>

    </div>

</md-content>

<div ng-include="'views/partials/footer.html'"></div>