<div ng-include="'views/partials/nav.html'"></div>
<div class="homeContent">
    <md-content layout="row" layout-xs="column" layout-padding>

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" md-whiteframe="4">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Search Projects</h1>
            </md-toolbar>
            <md-content layout-padding>
                <div layout="column">
                    <md-input-container>
                        <input ng-model="vm.searchParameters.project_name" type="text" placeholder="Name" ng-change="vm.parameterSelected = true">
                    </md-input-container>
                    <md-input-container>
                        <label>Skills</label>
                        <md-select ng-model="vm.searchParameters.skills" ng-model="searchTerms" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader"
                            multiple ng-change="vm.parameterSelected = true">
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm" type="search" placeholder="Search for a skill.." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="skills">
                                <md-option ng-value="skill.skill_name" ng-repeat="skill in vm.skillArray.list | filter:searchTerm">{{skill.skill_name}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-button ng-disabled="!vm.parameterSelected" ng-click="vm.getProjectSearchResult(vm.searchParameters)" class="md-raised md-accent">Search</md-button>
                </div>
            </md-content>
            <md-toolbar>
                <h1 class="md-toolbar-tools">Filter Results</h1>
            </md-toolbar>
            <md-content layout-padding>
                <div layout="column">
                    <md-input-container layout-padding>
                        <input type="text" placeholder="City" ng-model="query.project_city">
                        <md-checkbox ng-true-value="'true'" ng-false-value="''" class="md-primary" ng-model="query.project_remote">Remote Opportunity</md-checkbox>
                        </br>
                        <md-checkbox ng-true-value="'true'" ng-false-value="''" class="md-primary" ng-model="query.project_for_pay">For Pay</md-checkbox>
                        </br>
                        <md-checkbox ng-true-value="'true'" ng-false-value="''" class="md-primary" ng-model="query.project_for_trade">For Trade</md-checkbox>
                        </br>
                    </md-input-container>
                    <div flex="5" layout="column"></div>
                </div>
            </md-content>
        </md-sidenav>

        <!-- Project Search Result Cards TO DO - changed fixed width so this will adjust w/modal-->
        <div flex layout="column">
            <div layout-margin layout-padding layout-fill layout="row" layout-wrap>
                <md-card href="#/projectprofile/{{project.project_id}}" style="max-width: 300px;" ng-repeat="project in vm.projectSearchArray.list | filter:query">
                    <img src="{{project.project_picture}}" class="md-card-image" alt="user avatar">
                    <md-card-content>
                        <h2>{{project.project_name}}</h2>
                        <p>{{project.project_description}}</p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="center center">
                        <a href="#/projectprofile/{{project.project_id}}">
                            <md-button class="md-raised md-primary">
                                View Project
                            </md-button>
                        </a>
                    </div>
                </md-card>
            </div>
        </div>

</div>
<div ng-include="'views/partials/footer.html'"></div>