<div ng-include="'views/partials/nav.html'"></div>

<md-content layout-padding>
    <div class="homeContent">
        <div layout="row" layout-padding>
            <div layout="column" flex="30" layout-align="center center" layout-padding>
                <img ng-src="{{vm.projectProfile.list[0].project_picture}}" class="projectPhoto" />
                <button ng-if="vm.userObject.id === vm.projectProfile.list[0].user_id" class="md-accent md-raised" ng-click="vm.uploadProjectPicture(vm.projectProfile.list[0], projectImage.imageUrl)">Upload Project Image</button>
                <h3>Collaborators</h3>
                <md-list class="md-dense">
                    <md-list-item class="md-3-line" ng-repeat="collaborator in vm.projectCollaboratorArray.list">
                        <img ng-src="../views/images/profile-default.jpg" class="md-avatar" alt="" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{collaborator.username}}</h3>
                            <p>{{collaborator.user_project_role}}</p>
                            <md-button class="md-raised md-primary" ng-click="vm.rateCollaborator($event, collaborator)">Rate</md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div layout="column" flex="70" layout-padding>
                <div layout="row">
                    <div flex="70">
                        <h1>{{vm.projectProfile.list[0].project_name}}</h1>
                    </div>
                    <div flex="30" class="dialog-demo-content">
                        <md-button class="md-accent md-raised" ng-click="vm.contactProjectOwner($event)">Contact Project Owner</md-button>
                    </div>
                </div>
                <p>{{vm.projectProfile.list[0].project_description}}</p>
                <div layout="row">
                    <div flex="50">
                        <h3>Looking For...</h3>
                        <md-list class="md-dense">
                            <md-list-item ng-repeat="skill in vm.projectSkillArray.list">
                                <md-content layout="row">
                                    <p>{{skill.skill_name}} -
                                        <img class="skill-rating" ng-src="{{skill.required_rating}}" />
                                    </p>

                                </md-content>
                            </md-list-item>
                        </md-list>
                        <div ng-if="vm.userObject.id === vm.projectProfile.list[0].user_id">
                        <md-input-container >
                            <label>Skills</label>
                            <md-select ng-model="vm.addSkill.skill" ng-model="searchTerms" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader"
                                multiple>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="searchTerm" type="search" placeholder="Search for a skill.." class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="skills">
                                    <md-option ng-value="skill.skill_id" ng-repeat="skill in vm.skillArray.list | filter:searchTerm">{{skill.skill_name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Level</label>
                            <md-select ng-model="vm.addSkill.level">
                                <md-option ng-value="1">Beginner</md-option>
                                <md-option ng-value="2">Intermediate</md-option>
                                <md-option ng-value="3">Expert</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button  ng-click="vm.addProjectSkill(vm.addSkill, vm.projectProfile.list[0].project_id)" class="md-raised md-primary">Add Skill</md-button>
                    </div>
                    </div>
                    <div flex="50">
                        <div flex="50">
                            <h3>Preferences</h3>
                            <p>Project City: {{vm.projectProfile.list[0].project_city}}, {{vm.projectProfile.list[0].project_state}}</p>
                            <div ng-hide="vm.projectProfile.list[0].project_remote">
                                Not Accepting Remote Collaboration
                            </div>
                            <div ng-show="vm.projectProfile.list[0].project_remote">
                                Accepting Remote Collaboration
                            </div>
                        </div>
                        <div ng-if="vm.userObject.id === vm.projectProfile.list[0].user_id">
                            <h4>Collaboration Requests</h4>
                            <md-list-item class="md-3-line" ng-repeat="request in vm.projectCollaborationRequestArray.list" ng-click="goToPerson(person.name, $event)"
                                class="noright">
                                <img ng-src="{{ request.user_picture }}" class="md-avatar" />
                                <div class="md-list-item-text" layout="column">
                                    <p>{{ request.username }}</p>
                                    <md-button class="md-raised md-primary" ng-click="vm.acceptCollaboration(request, vm.projectProfile.list[0].project_id)">Accept</md-button>
                                    <md-button class="md-raised md-primary" ng-click="vm.declineCollaboration(request, vm.projectProfile.list[0].project_id)">Dismiss</md-button>
                                </div>
                            </md-list-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</md-content>

<div ng-include="'views/partials/footer.html'"></div>