<div class="header" ng-include="'views/partials/nav.html'">
</div>
<div class="homeContent lightOrangeDiv">
    <md-content layout="column">

        <div flex="50" layout="column" id="whatIsThis">
            <div class="main" layout="column">
                <div flex layout-sm="column" layout-xs="column" layout="row">
                    <div flex layout="row">
                        <div flex="20">
                            <img class="profilePhoto" ng-src="{{vm.selectedUser.list[0].user_picture}}">
                            </br>
                            <md-button ng-if="vm.userObject.userName === vm.selectedUser.list[0].username" class="md-accent md-raised" ng-click="vm.uploadProfilePicture(vm.selectedUser.list[0], projectImage.imageUrl)">Change Profile Picture</md-button>
                        </div>
                    </div>
                    <div flex="65">
                        <h1 ng-hide="vm.isEditing.username" class="md-display-1">{{vm.selectedUser.list[0].display_name}}</h1>
                        <md-input-container ng-show="vm.isEditing.username" class="md-display-1">
                            <input type="text" placeholder="{{vm.selectedUser.list[0].display_name}}">
                        </md-input-container>
                        <p>
                            <span ng-hide="vm.isEditing.username">{{vm.selectedUser.list[0].user_bio}}</span>
                            <span>
                                <md-input-container md-select-on-focus class="md-block" md-no-float ng-show="vm.isEditing.username">
                                    <textarea id="biography" ng-model="vm.selectedUser.list[0].user_bio" ng-value="vm.selectedUser.list[0].user_bio" md-maxlength="1000"
                                        placeholder="Biography"></textarea>
                                </md-input-container>
                            </span>
                        </p>

                        <span ng-if="vm.userObject.userName === vm.selectedUser.list[0].username" ng-hide="vm.isEditing.username">
                            <md-button class="md-raised md-accent" ng-click="vm.isEditing.username = true">Edit Display Name or Bio</md-button>
                        </span>
                        <span ng-if="vm.userObject.id === vm.selectedUser.list[0].id" ng-show="vm.isEditing.username">
                            <md-button class="md-raised md-primary" ng-click="vm.editUsername(vm.selectedUser.list[0])">Save</md-button>
                        </span>
                        </h2>

                    </div>
                </div>

                <div flex layout-xs="column" layout-sm="column" layout="row">
                    <div flex>
                        <table>
                            <th>
                                <h2 class="md-display-1">Skills</h2>
                            </th>
                            <tr ng-repeat="skills in vm.selectedUser.list ">
                                <td>{{skills.skill_name}}</td>
                                <td>{{skills.skill_rating}}</td>
                                <td layout="end end"ng-if="vm.userObject.userName === vm.selectedUser.list[0].username">
                                    <md-button class="md-raised md-primary" ng-click="vm.deleteSkill(skills)">Delete</md-button>
                                </td>
                            </tr>
                        </table>
                        </br>
                        <table ng-if="vm.userObject.userName === vm.selectedUser.list[0].username">

                     


                            <tr ng-if="vm.userObject.userName === vm.selectedUser.list[0].username">
                    
                                <label>Skill</label>
                                <md-autocomplete flex required
                                        md-input-name="autocompleteField"
                                        md-input-minlength="2"
                                        md-input-maxlength="18"
                                        md-no-cache="true"
                                        md-selected-item="vm.selectedItem"
                                        md-search-text="vm.searchText"
                                        md-items="skill in vm.skilllist.list(vm.searchText)"
                                        md-item-text="vm.display"
                                        md-require-match
                                        md-floating-label="Skill">
                                    <md-item-template>
                                        <span md-highlight-text="vm.searchText">{{skill.skill_name}}</span>
                                    </md-item-template>
                                    <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                        <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                        <div ng-message="md-require-match">Please select an existing state.</div>
                                    </div>
                                    </md-autocomplete>
                                <!-- <md-select ng-model="vm.newSkill.skill_id">

                                    <md-option ng-value="skill.skill_id" ng-repeat="skill in vm.skillslist.list">
                                        {{skill.skill_name}}
                                    </md-option>
                                </md-select> -->
                                </td>
                                <label>Skill Level</label>
                                <md-select ng-model="vm.newSkill.skill_rating">
                                    <md-option ng-value="1">Beginner</md-option>
                                    <md-option ng-value="2">Intermediate</md-option>
                                    <md-option ng-value="3">Expert</md-option>
                                </md-select>
                                </td>
                                <td>
                                    <md-button class="md-raised md-primary" ng-click="vm.addSkill(vm.newSkill)">Add</md-button>
                                </td>

                            </tr>
                        </table>
                    </div>
                    <div flex>

                        <h2 class="md-display-1">Preferences</h2>
                        <p>
                            <div ng-hide="vm.isEditing.preferences">
                                <p>
                                    <b>Location:</b> {{vm.selectedUser.list[0].user_city}}, {{vm.selectedUser.list[0].user_state}}</p>
                                <md-checkbox ng-disabled="true" ng-checked="vm.selectedUser.list[0].user_remote"></md-checkbox>
                                <label>Willing to work Remotely</label>
                            </div>
                            <span ng-show="vm.isEditing.preferences">
                                <b>Location:</b>
                                <md-input-container>
                                    <label>City</label>
                                    <input ng-model="vm.selectedUser.list[0].user_city"> 
                                </md-input-container>
                                <md-input-container>
                                        <label>State</label>                                    
                                    <input ng-model="vm.selectedUser.list[0].user_state">
                                </md-input-container>
                                <md-checkbox ng-model="vm.selectedUser.list[0].user_remote">Willing to work remotely</md-checkbox>
                            </span>
                        </p>
                        <p>
                            <span ng-hide="vm.isEditing.preferences">
                                <b>Compensation:</b>
                                <br>
                                <md-checkbox ng-disabled="true" ng-checked="vm.selectedUser.list[0].user_for_pay"></md-checkbox>
                                <label>Pay</label>
                                <br>
                                <md-checkbox ng-disabled="true" ng-checked="vm.selectedUser.list[0].user_for_trade"></md-checkbox>
                                <label>Trade</label>
                            </span>
                            <span ng-show="vm.isEditing.preferences">
                                <b>Compensation:</b>
                                <md-checkbox ng-model="vm.selectedUser.list[0].user_for_pay">For Pay</md-checkbox>
                                <md-checkbox ng-model="vm.selectedUser.list[0].user_for_trade">For Trade</md-checkbox>
                            </span>
                        </p>
                        <p>
                            <span ng-hide="vm.isEditing.preferences">
                                <b>Weekly Commitment:</b> {{vm.selectedUser.list[0].user_weekly_min}}-{{vm.selectedUser.list[0].user_weekly_max}}
                                hours
                            </span>
                            <span ng-show="vm.isEditing.preferences">
                                <b>Weekly Commitment:</b>
                                <span>
                                    <md-input-container flex="15">
                                        <input placeholder="Min" type="number" ng-model="vm.selectedUser.list[0].user_weekly_min">
                                    </md-input-container>

                                    <md-input-container flex="15">
                                        <input placeholder="Max" type="number" ng-model="vm.selectedUser.list[0].user_weekly_max">
                                    </md-input-container>
                                </span>
                            </span>
                        </p>
                        <md-button class="md-raised md-accent" ng-if="vm.userObject.userName === vm.selectedUser.list[0].username" ng-hide="vm.isEditing.preferences"
                            ng-click="vm.isEditing.preferences = true">Edit</md-button>
                        <!-- <md-button class="md-raised md-primary" ng-if="vm.userObject.userName === vm.selectedUser.list[0].username" ng-show="vm.isEditing.preferences" -->

                    </div>
    </md-content>

    <!-- <div ng-include="'views/partials/footer.html'"> -->