<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button>
</div>


<div class="main" layout="column">
    <div flex layout-xs="column" layout="row">
        <div flex>
            <img class="profilePhoto" ng-src="{{vm.selectedUser.list[0].user_picture}}">
        </div>
        <div flex>
            <h2>
                <span ng-hide="vm.isEditing.username">{{vm.selectedUser.list[0].username}}</span>
                <span ng-show="vm.isEditing.username"><input ng-model="vm.selectedUser.username"></span>
                <span ng-if="vm.userObject.userName === vm.selectedUser.list[0].username" ng-hide="vm.isEditing.username"><button ng-click="vm.isEditing.username = true">edit</button></span>
                <span ng-if="vm.userObject.userName === vm.selectedUser.list[0].username" ng-show="vm.isEditing.username"><button ng-click="vm.editUsername(vm.selectedUser)">done</button></span>
            </h2>
            <p>
                    <span ng-hide="vm.isEditing.username">{{vm.selectedUser.list[0].user_bio}}</span>
                    <span ng-show="vm.isEditing.username"><input ng-model="vm.selectedUser.user_bio"></span>
            </p>
        </div>


    </div>
    <div flex layout-xs="column" layout="row">
        <div flex>
            <h3>Skills</h3>

            <table>
                <tr ng-repeat="skills in vm.selectedUser.list ">
                    <td>{{skills.skill_name}}</td>
                    <td>{{skills.skill_rating}}</td>
                </tr>
            </table>
        </div>
        <div flex>
            <h3>Preferences</h3>
            <p>
                Location: {{vm.selectedUser.list[0].user_city}}, {{vm.selectedUser.list[0].user_state}},
                <span ng-show=vm.selectedUser.list[0].user_remote>Willing to work remotely</span>
                <span ng-hide=vm.selectedUser.list[0].user_remote>Local only</span>
            </p>
            <p>
                Compensation: 
                <span ng-show=vm.selectedUser.list[0].user_for_pay>Pay</span> 
                <span ng-show=vm.selectedUser.list[0].user_for_trade>Trade</span>
            </p>
            <p>
                Weekly Commitment {{vm.selectedUser.list[0].user_weekly_min}}-{{vm.selectedUser.list[0].user_weekly_max}} hours

            </p>

        </div>
    </div>
    <div>
        <h2>Projects</h2>
    </div>
</div>

<div ng-include="'views/partials/footer.html'"></div>

