<div class="header" ng-include="'views/partials/nav.html'">

    <div class="header" ng-include="'views/partials/nav.html'">
    </div>
    <div class="homeContent lightOrangeDiv">
        <md-content layout="column">
    
            <div flex="5" layout="column">
                <div class="main" layout="column">
                    <div flex layout-xs="column" layout="row">
                        <div flex layout="row">
                            <div flex>
                                <img class="profilePhoto" ng-src="{{vm.selectedUser.list[0].user_picture}}">
                                </br>
                                <md-button ng-if="vm.userObject.userName === vm.selectedUser.list[0].username" class="md-accent md-raised" ng-click="vm.uploadProfilePicture(vm.selectedUser.list[0], projectImage.imageUrl)">Change Profile Picture</md-button>
                            </div>
                        </div>
                        <div flex class="md-block">
                            <h1 ng-hide="vm.isEditing.username" class="md-display-1">{{vm.selectedUser.list[0].display_name}}</h1>
                            <md-input-container ng-show="vm.isEditing.username" class="md-display-1">
                                <input type="text"  placeholder="{{vm.selectedUser.list[0].display_name}}">
                            </md-input-container>                        
                            <p>
                                <span ng-hide="vm.isEditing.username">{{vm.selectedUser.list[0].user_bio}}</span>
                               <span>
                                <md-input-container  md-select-on-focus class="md-block" md-no-float ng-show="vm.isEditing.username">
                                        <textarea id="biography" ng-model="vm.selectedUser.list[0].user_bio" ng-value="vm.selectedUser.list[0].user_bio" md-maxlength="1000"
                                         placeholder="Biography"></textarea>
                                </md-input-container>
                                </span>
                            </p>
                           
                                <span ng-if="vm.userObject.userName === vm.selectedUser.list[0].username" ng-hide="vm.isEditing.username">
                                    <md-button class="md-raised md-accent" ng-click="vm.isEditing.username = true">Edit Display Name or Bio</md-button>
                                </span>
                                <span ng-if="vm.userObject.id === vm.selectedUser.list[0].id" ng-show="vm.isEditing.username">
                                    <md-button class="md-raised md-primary" ng-click="vm.editUsername(vm.selectedUser.list[0])">Save</md-button>
                                </span>
                            </h2>
    
                        </div>
                    </div>
                    <div flex layout-xs="column" layout="row">
                        <div flex>
                            <table>
                                <th>
                                    <h2 class="md-display-1">Skills</h2>
                                </th>
                                <tr ng-repeat="skills in vm.selectedUser.list ">
                                    <td>{{skills.skill_name}}</td>
                                    <td>{{skills.skill_rating}}</td>
                                    <td ng-if="vm.userObject.userName === vm.selectedUser.list[0].username">
                                        <md-button class="md-raised md-primary" ng-click="vm.deleteSkill(skills)">Delete</md-button>
                                    </td>
                                </tr>
                            </table>
                            </br>
                            <table ng-if="vm.userObject.userName === vm.selectedUser.list[0].username">
    
                                    <h2 class="md-display-1">Add New Skills </h2>
                         
                               
                                <tr ng-if="vm.userObject.userName === vm.selectedUser.list[0].username">
                                        <label>Skill</label>
                                    </p>
                                    <md-autocomplete
                                        ng-disabled="vm.isDisabled"
                                        md-no-cache="vm.noCache"
                                        md-selected-item="vm.selectedItem"
                                        md-search-text-change="vm.searchTextChange(ctrl.searchText)"
                                        md-search-text="vm.searchText"
                                        md-selected-item-change="vm.selectedItemChange(item)"
                                        md-items="skill in vm.skillslist.list(vm.searchText)"
                                        md-item-text="skill.skill_name"
                                        md-min-length="0"
                                        placeholder="Skill">
                                      <md-item-template>
                                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{skill.skill_name}}</span>
                                      </md-item-template>
                                      <md-not-found>
                                        No states matching "{{vm.searchText}}" were found.
                                        <!-- <a ng-click="vm.newState(ctrl.searchText)">Create a new one!</a> -->
                                      </md-not-found>
                                    </md-autocomplete>
                                    <br/>
                                        
                                        <!-- <md-select ng-model="vm.newSkill.skill_id">
                        
                                            <md-option ng-value="skill.skill_id" ng-repeat="skill in vm.skillslist.list">
                                                {{skill.skill_name}}
                                            </md-option>
                                        </md-select> -->
                                    </td>
                                    <label>Skill Level</label>
                                        <md-select ng-model="vm.newSkill.skill_rating">
                                            <md-option ng-value="1">Beginner</md-option>
                                            <md-option ng-value="2">Intermediate</md-option>
                                            <md-option ng-value="3">Expert</md-option>
                                        </md-select>
                                    </td>
                                    <td>
                                        <md-button class="md-raised md-primary" ng-click="vm.addSkill(vm.newSkill)">Add</md-button>
                                    </td>
    
                                </tr>
                            </table>
                        </div>
                        <div flex>
                            <h2 class="md-display-1">Preferences</h2>
                            <p>
                                <span ng-hide="vm.isEditing.preferences">
                                    Location: {{vm.selectedUser.list[0].user_city}}, {{vm.selectedUser.list[0].user_state}}
                                    <md-checkbox ng-disabled="true" ng-value="vm.selectedUser.list[0].user_remote">Willing to work remotely</md-checkbox>
                                </span>
                                <span ng-show="vm.isEditing.preferences">
                                    Location:
                                    <input ng-model="vm.selectedUser.list[0].user_city"> ,
                                    <input ng-model="vm.selectedUser.list[0].user_state">
                                    <md-checkbox ng-model="vm.selectedUser.list[0].user_remote">Willing to work remotely</md-checkbox>
                                </span>
                            </p>
                            <p>
                                <span ng-hide="vm.isEditing.preferences">
                                   <b> Compensation:</b>
                                    <span ng-show=vm.selectedUser.list[0].user_for_pay>Pay</span>
                                    <span ng-show=vm.selectedUser.list[0].user_for_trade>Trade</span>
                                </span>
                                <span ng-show="vm.isEditing.preferences">
                                        <b> Compensation:</b>
                                    <md-checkbox ng-model="vm.selectedUser.list[0].user_for_pay">For Pay</md-checkbox>
                                    <md-checkbox ng-model="vm.selectedUser.list[0].user_for_trade">For Trade</md-checkbox>
                                </span>
                            </p>
                            <p>
                                <span ng-hide="vm.isEditing.preferences">
                                    Weekly Commitment {{vm.selectedUser.list[0].user_weekly_min}}-{{vm.selectedUser.list[0].user_weekly_max}} hours
                                </span>
                                <span ng-show="vm.isEditing.preferences">
                                    Weekly Commitment
                                    <input ng-model="vm.selectedUser.list[0].user_weekly_min"> -
                                    <input ng-model="vm.selectedUser.list[0].user_weekly_max"> hours
                                </span>
                            </p>
                            <md-button class="md-raised md-accent" ng-if="vm.userObject.userName === vm.selectedUser.list[0].username" ng-hide="vm.isEditing.preferences"
                                ng-click="vm.isEditing.preferences = true">Edit</md-button>
                            <md-button class="md-raised md-primary" ng-if="vm.userObject.userName === vm.selectedUser.list[0].username" ng-show="vm.isEditing.preferences">Save</md-button>
                          
<div ng-include="'views/partials/footer.html'"></div>