<!-- <script type="text/ng-template" id="tabDialog.tmpl.html"> -->
<md-dialog aria-label="Get Hustlin">
    <!-- <form> -->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="lead">Contact Project Owner</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-svg-src="../assets/closebutton.png" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        <md-content class="md-padding">
            <!-- <h1 class="md-display-2">Existing User Log-In</h1> -->
            <div class="container">
                <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">
                    </h2>
                    <form ng-submit="vm.sendMessage(vm.message, vm.projectProfile.list[0])" id="userMessage">
                        <div>
                            <label for="username">Message:</label>
                            <textarea rows="5" cols="60" ng-model="vm.message.message" form="userMessage"></textarea>
                        </div>
                        <br>
                        <div>
                            <md-checkbox ng-model="vm.message.collaboration">
                                Request to join project
                            </md-checkbox>
                        </div>
                        <div>
                            <md-select ng-model="vm.message.skill" ng-model="searchTerms" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="searchTerm" type="search" placeholder="Search for a skill.." class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="skills">
                                    <md-option ng-value="skill.skill_name" ng-repeat="skill in vm.projectSkillArray.list | filter:searchTerm">{{skill.skill_name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </div>
                        <div>
                            <input class="btn btn-default" type="submit" name="submit" value="Send Message" />
                        </div>
                    </form>
            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>
</div>