<!-- <script type="text/ng-template" id="tabDialog.tmpl.html"> -->
<md-dialog aria-label="Get Hustlin">
    <!-- <form> -->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <H1>HUSTLE</H1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="lc.cancel()">
                <img ng-src="../assets/closebutton.png" style="max-width:20px;max-height:20px; " aria-label="Close dialog">
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; " class="loginRegister">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Login">
                <md-content class="md-padding">
                    <div class="container">
                        <h4 class="subheading-1 secondFont">{{lc.loginMessage}}</h4>
                        <form ng-submit="lc.login()">
                            <div layout="column" layout-align="start center">
                                <div>
                                    <label class="subheading-1 secondFont" for="username">E-mail:</label>
                                    <input type="text" ng-model="lc.user.username" />
                                </div>
                                <div>
                                    <label class="subheading-1 secondFont" for="password">Password:</label>
                                    <input type="password" ng-model="lc.user.password" />
                                </div>
                                <div layout="column" layout-align="center center">
                                    <md-input-container>
                                        <input class="md-button md-accent md-raised secondFont" type="submit" name="submit" value="Log In" />
                                    </md-input-container>
                                    <div layout="row" layout-align="center center">
                                        <div class="img-responsive">
                                            <a href="/user/facebook">
                                                <img ng-src="../assets/login-facebook.png"></img>
                                            </a>
                                        </div>
                                        <div class="img-responsive">
                                            <a href="/user/google">
                                                <img ng-src="../assets/login-google.png"></img>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
                                    <a href ng-click="lc.passwordReset($event)">
                                        <h4 class="md-subheader">Forgot Password?</h4>
                                    </a>
                                    <!-- <md-button md-no-ink class="md-primary md-raised secondFont" ng-click="lc.passwordReset($event)">
                                    Forgot Password
                                </md-button> -->
                                </div>
                        </form>
                        </div>


                </md-content>
            </md-tab>
            <md-tab label="New User?">
                <md-content class="md-padding">
                    <div class="container">
                        <h4 class="subheading-1 secondFont">{{lc.registerMessage}}</h4>
                        <form ng-submit="lc.registerUser()">
                            <div layout="column" layout-align="start center">
                                <div>
                                    <label class="subheading-1 secondFont" for="username">E-mail:</label>
                                    <input type="text" ng-model="lc.user.username" />
                                </div>
                                <div layout-align="center">
                                    <label class="subheading-1 secondFont" for="password">Password:</label>
                                    <input type="password" ng-model="lc.user.password" />
                                </div>
                                <div>
                                    <label class="subheading-1 secondFont" for="password">Retype Password:</label>
                                    <input type="password" ng-model="lc.user.checkPassword" />
                                </div>
                                <div layout="column" layout-align="center center">
                                    <md-input-container>
                                        <input class="md-button md-accent md-raised secondFont" type="submit" name="submit" value="Register" />
                                    </md-input-container>
                                    <div layout="row" layout-align="center center">
                                        <div class="img-responsive">
                                            <a href="/user/facebook">
                                                <img ng-src="../assets/login-facebook.png"></img>
                                            </a>
                                        </div>
                                        <div class="img-responsive">
                                            <a href="/user/google">
                                                <img ng-src="../assets/login-google.png"></img>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#home">
                                        <h4 class="md-subheader">Cancel</h4>
                                    </a>
                                </div>
                        </form>
                        </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>