<!-- <script type="text/ng-template" id="tabDialog.tmpl.html"> -->
    <md-dialog aria-label="Password Reset">
        <!-- <form> -->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>HUSTLE</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="../assets/closebutton.png" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-content class="md-padding">
                <!-- <h1 class="md-display-2">Existing User Log-In</h1> -->
                <div class="container">
                    <h4 class="lead">Forgot your password? We'll email you a temporary one :)</h4>
                    <h1 class="lead alert alert-danger" role="alert" ng-if="vm.reset != ''">
                        </h2>
                        <form ng-submit="vm.sendReset(vm.reset)" id="resetEmail">
                            <md-input-container>
                                <label for="username">Email:</label>
                                <input type="text" ng-model="vm.reset.email" >
                            </md-input-container>
                            <div>
                                <input class="btn btn-default" type="submit" name="submit" value="Send Reset Link" />
                            </div>
                        </form>
                </div>
            </md-content>
        </md-dialog-content>
    </md-dialog>
    </div>